
<form #form="ngForm" style="width:100%;">
<image-upload [buttonCaption]="'Select Image!'" [dropBoxMessage]="'Drop your image here!'" [extensions]="['jpg','png','gif']" (onFileUploadFinish)="imageUploaded($event)" [max]="1" name="imageupload"></image-upload>

<div fxLayout="column" fxLayout.gt-md="row">
    <md-select placeholder="Select Doctor" [(ngModel)]="selectedDoctor" (change)="onChange(selectedDoctor)" style="width:100% !important;" name="selectDoctor" required>
        <md-option *ngFor="let dr of drlist" [value]="dr">{{dr.name}}</md-option>
    </md-select>
</div>
<div fxLayout="column" fxLayout.gt-md="row">
    <!-- <input type="date" [(ngModel)]="newVisit.selectedDate" (change)="dateChange(selectedDate)"/> -->
    <md-input-container class="example-full-width">
        <input mdInput [min]="minDate" [max]="maxDate" [mdDatepicker]="picker1" [(ngModel)]="newVisit.selectedDate" (ngModelChange)="dateChange(newVisit.selectedDate)" placeholder="Select Date" name="selectDate" required>
         <button mdSuffix [mdDatepickerToggle]="picker1"></button> 
        <!-- <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle> -->
    </md-input-container>
    <md-datepicker #picker1 style="width:100%;"></md-datepicker>
</div>
<div fxLayout="column" fxLayout.gt-md="row">
    <md-select placeholder="Select TimeSlots" [(ngModel)]="selectedTimeSlot" (change)="onTimeChange(selectedTimeSlot)" style="width:100% !important;" name="selectTime" required>
        <md-option *ngFor="let dr of drTimeSlots" [value]="dr" [disabled]="dr.booked=='Booked'">{{dr.startendtime}}</md-option>
    </md-select>
</div>
<div fxLayout="column" fxLayout.gt-md="row">
    <md-input-container fxFlex>
        <input mdInput placeholder="First Name" [(ngModel)]="newVisit.firstname" required  name="firstname" required>
    </md-input-container>

</div>
<div fxLayout="column" fxLayout.gt-md="row">
    <md-input-container fxFlex>
        <input mdInput placeholder="Last Name" [(ngModel)]="newVisit.lastname"  name="lastname" required>
    </md-input-container>
</div>
<div fxLayout="column" fxLayout.gt-md="row">
    <md-input-container fxFlex>
        <input mdInput placeholder="Phone Number" [(ngModel)]="newVisit.phone"  name="phone" required>
    </md-input-container>
</div>

<div fxLayout="column" fxLayout.gt-md="row">
    <md-input-container fxFlex>
        <input mdInput placeholder="Email" [(ngModel)]="newVisit.email" name="email" required>
    </md-input-container>
</div>
<div fxLayout="column" fxLayout.gt-md="row">
    <md-input-container fxFlex>
        <input mdInput placeholder="Total Amount" [(ngModel)]="newVisit.totalamount"  name="totalamount">
    </md-input-container>
</div>
<div fxLayout="column" fxLayout.gt-md="row">
    <md-input-container fxFlex>
        <input mdInput placeholder="Amount Deposit" [(ngModel)]="newVisit.depositamount"  name="depositamount">
    </md-input-container>
</div>
<div fxLayout="column" fxLayout.gt-md="row">
    <md-select placeholder="Select Status" [(ngModel)]="newVisit.status" style="width:100% !important;" name="selectStatus">
        <md-option value="new" name="item">New</md-option>
        <md-option value="accepted" name="item">Accepted</md-option>
        <md-option value="canceled" name="item">Cancelled</md-option>
    </md-select>
</div>
<div fxLayout="column" fxLayout.gt-md="row">
    <md-input-container class="example-full-width">
        <input mdInput [min]="minDate" [max]="maxDate" [mdDatepicker]="picker" [(ngModel)]="newVisit.dob" placeholder="Date Of Birth" name="dob">
         <button mdSuffix [mdDatepickerToggle]="picker"></button> 
        <!-- <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle> -->
    </md-input-container>
    <md-datepicker #picker></md-datepicker>

</div>
<div fxLayout="column" fxLayout.gt-md="row">
    <md-input-container fxFlex>
        <input mdInput placeholder="age" [(ngModel)]="newVisit.age" name="age">
    </md-input-container>
</div>


<div fxLayout="column" fxLayout.gt-md="row">
    <md-select placeholder="Select Gender" [(ngModel)]="newVisit.gender" style="width:100% !important;margin-top: 10px;" name="gender">
        <md-option value="Male" name="item">Male</md-option>
        <md-option value="Female" name="item">Female</md-option>
    </md-select>
</div>
<div fxLayout="column" fxLayout.gt-md="row">
    <md-input-container fxFlex>
        <input mdInput placeholder="City" [(ngModel)]="newVisit.city" name="city">
    </md-input-container>
</div>
<div fxLayout="column" fxLayout.gt-md="row">
    <md-input-container fxFlex>
        <input mdInput placeholder="Area/Locality" [(ngModel)]="newVisit.area" name="area">
    </md-input-container>
</div>
<div fxLayout="column" fxLayout.gt-md="row">
    <md-input-container fxFlex>
        <input mdInput placeholder="Add Remarks" [(ngModel)]="newVisit.remarks" name="remarks">
    </md-input-container>
</div>
<tag-input [(ngModel)]='newVisit.tags' name="tags"></tag-input>


    <!-- <button md-button type="button" (click)="addNewVisit(newVisit)" color="primary">Add Visit</button> -->
    <button md-button style="background-color:#33cccc;color:white;" (click)="addNewVisit(newVisit)">Save</button>
</form>

<style>
    div {
        margin-left: 10px;
    }
    
    tag-input {
        margin-left: 10px;
    }
</style>
