<div class="dashboard-container" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="margin-bottom-sm" fxLayout="column" fxFlex="100%" fxFlex.md="49.5%" fxFlex.gt-md>
        <div class="margin-top">
            <!-- <ms-activity-queries [questions]="allQueries"></ms-activity-queries> -->
            <div class="activity-card mat-elevation-z2" *ngFor="let question of allQueries" style="margin-bottom: 14px;">
                <div class="title-container" fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="column" [routerLink]="['/question-details', question.id]" *ngIf="question.state!=0">
                        <span class="title">{{ question.title  }}</span>
                        <!--<span class="extra">{{ subTitle }}</span>-->
                    </div>
                    <span fxFlex></span>
					<input type="button" name="" value="Delete" (click)="deletequery(question.id)">
                    <!-- <button md-icon-button [mdMenuTriggerFor]="options">
      <md-icon>more_vert</md-icon>
    </button> -->
                </div>

                <div class="content" [routerLink]="['/question-details', question.id]" *ngIf="question.state!=0">
                    <md-nav-list>
                        <a href="javascript:" md-list-item>
                            <img md-list-avatar [src]="question.image" alt="...">
                            <h3 md-line> {{ question.poster_name }} </h3>
                            <p md-line>
                                <!--<span class="title"> {{ feed.subject }} </span>-->
                                <span class="extra"> {{ question.content }} </span>
                            </p>
                        </a>
                    </md-nav-list>
                </div>
            </div>


        </div>
    </div>
</div>