<form #form="ngForm" style="width:100%;">
<image-upload [buttonCaption]="'Select Image!'" [dropBoxMessage]="'Drop your image here!'" [extensions]="['jpg','png','gif']" (onFileUploadFinish)="imageUploaded($event)" [max]="1" name="imageUpload"></image-upload>
    <img src="{{image}}" style="height: 100px;border-radius: 48px;" name="image">
<div class="container" style="width:100%;height:500px;">
    <div fxLayout="column" fxLayout.gt-md="row" style="margin-top:10px;">
        <label>
          <input type="radio" [(ngModel)]="department" [checked]="department == Doctor" value="Doctor"  title="Doctor" name="department"> Doctor
          <input type="radio" [(ngModel)]="department" [checked]="department == Patient" value="Patient" title="Patient" name="department"> Patient
          <input type="radio" [(ngModel)]="department" [checked]="department == Others" value="Others" title="Others" name="department"> Others
        </label>
    </div>



    <div fxLayout="column" fxLayout.gt-md="row">
        <md-input-container fxFlex>
            <input mdInput placeholder="First Name" [(ngModel)]="fname" name="fname" required>
        </md-input-container>
    </div>
    <div fxLayout="column" fxLayout.gt-md="row">
        <md-input-container fxFlex>
            <input mdInput placeholder="Last Name" [(ngModel)]="surname" name="surname" required>
        </md-input-container>
    </div>
    <div fxLayout="column" fxLayout.gt-md="row">
        <md-select placeholder="Select Gender" style="width:100%;" [(ngModel)]="gender" name="gender">
            <md-option value="Male" name="item">Male</md-option>
            <md-option value="Female" name="item">Female</md-option>
        </md-select>
    </div>
    <div fxLayout="column" fxLayout.gt-md="row" style="margin-top:5px;">
        <md-input-container fxFlex>
            <input type="number" mdInput placeholder="Telephone" [(ngModel)]="phone" name="phone" required>
        </md-input-container>
    </div>
    <div fxLayout="column" fxLayout.gt-md="row">
        <md-input-container fxFlex>
            <input mdInput placeholder="Email" type="email" required [(ngModel)]="email" name="email" required>
        </md-input-container>
    </div>
    <div fxLayout="column" fxLayout.gt-md="row">
        <md-input-container class="example-full-width" style="width:100%;">
            <input mdInput [(ngModel)]="date" [min]="minDate" [max]="maxDate" [mdDatepicker]="picker" placeholder="Date Of Birth" name="dob">
             <button mdSuffix [mdDatepickerToggle]="picker"></button> 
            <!-- <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle> -->
        </md-input-container>
        <md-datepicker #picker></md-datepicker>
    </div>

    <div fxLayout="column" fxLayout.gt-md="row">

        <md-input-container fxFlex>
            <input mdInput placeholder="City" [(ngModel)]="city" name="city">
            <span md-prefix><md-icon>location_city</md-icon></span>
        </md-input-container>
    </div>
    <div fxLayout="column" fxLayout.gt-md="row">
        <md-input-container fxFlex>
            <input mdInput placeholder="Area/Locality" [(ngModel)]="locality" name="locality">
            <span md-prefix><md-icon>place</md-icon></span>
        </md-input-container>

    </div>
    <div fxLayout="column" fxLayout.gt-md="row">
        <md-input-container fxFlex>
            <input mdInput placeholder="Remarks/Diagnosis" [(ngModel)]="remarks" name="remarks">
        </md-input-container>
    </div>
    
    <tag-input [(ngModel)]='tags' name="tags"></tag-input>
    <button md-button style="background-color:#33cccc;color:white;margin-bottom:110px;" (click)="updateLead()">Save</button>

</div>
</form>