<form #form="ngForm" style="width:100%;">
<image-upload [buttonCaption]="'Select Image!'" [dropBoxMessage]="'Drop your image here!'" [extensions]="['jpg','png','gif']" (onFileUploadFinish)="imageUploaded($event)" [max]="1"></image-upload>
<div class="container" style="width:100%;">
    <!-- <input type="file" (change)="fileEvent($event)"> -->
    <div fxLayout="column" fxLayout.gt-md="row">
        <label>
          <input type="radio" [(ngModel)]="lead.department" name="sele" value="Doctor" title="Doctor"> Doctor
          <input type="radio" [(ngModel)]="lead.department" name="sele" value="Patient" title="Patient"> Patient
          <input type="radio" [(ngModel)]="lead.department" name="sele"  value="Others" title="Others"> Others
        </label>
    </div>


    <div fxLayout="column" fxLayout.gt-md="row">
        <md-input-container fxFlex>
            <input mdInput placeholder="First Name" name="firstname" [(ngModel)]="lead.firstname" required>
        </md-input-container>
    </div>
    <div fxLayout="column" fxLayout.gt-md="row">
        <md-input-container fxFlex>
            <input mdInput placeholder="Last Name" name="lastname" [(ngModel)]="lead.lastname" required>
        </md-input-container>
    </div>
    
    <div fxLayout="column" fxLayout.gt-md="row" style="margin-top:5px;">
        <md-input-container fxFlex>
            <input type="number" mdInput placeholder="Telephone" name="phone" [(ngModel)]="lead.phone" required>
        </md-input-container>
    </div>
    <div fxLayout="column" fxLayout.gt-md="row">
        <md-input-container fxFlex>
            <input mdInput placeholder="Email" type="email" name="email" [(ngModel)]="lead.email"required>
        </md-input-container>
    </div>
     <div fxLayout="column" fxLayout.gt-md="row">
        <md-input-container class="example-full-width">
            <input mdInput [min]="minDate" [max]="maxDate" [mdDatepicker]="picker" [(ngModel)]="lead.dob" placeholder="Date Of Birth" name="dob">
             <button mdSuffix [mdDatepickerToggle]="picker"></button> 
            <!-- <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle> -->
        </md-input-container>
        <md-datepicker #picker></md-datepicker>
    </div>
    <div fxLayout="column" fxLayout.gt-md="row">
        <md-select placeholder="Select Gender" [(ngModel)]="lead.gender" style="width:100% !important;" name="Gender">
            <md-option value="Male" name="item">Male</md-option>
            <md-option value="Female" name="item">Female</md-option>
        </md-select>
    </div>
   
    <div fxLayout="column" fxLayout.gt-md="row">

        <md-input-container fxFlex>
            <input mdInput placeholder="City" [(ngModel)]="lead.city" name="City">
            <span md-prefix><md-icon>location_city</md-icon></span>
        </md-input-container>

    </div>
    <div fxLayout="column" fxLayout.gt-md="row">

        <md-input-container fxFlex>
            <input mdInput placeholder="Area/Locality" [(ngModel)]="lead.area" name="Area">
            <span md-prefix><md-icon>place</md-icon></span>
        </md-input-container>
    </div>
    <div fxLayout="column" fxLayout.gt-md="row">
        <md-input-container fxFlex>
            <input mdInput placeholder="Remarks/Diagnosis" name="tags" [(ngModel)]="lead.remarks">
        </md-input-container>
    </div>
    <tag-input [(ngModel)]='lead.tags' name="tags"></tag-input>
    <button md-button style="background-color:#33cccc;color:white;" (click)="addLead()">Save</button>

</div>
</form>